---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/oauth/v1/token?client_id=<HUBSPOT_CLIENT_ID>&client_secret=<HUBSPOT_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=<HUBSPOT_REDIRECT_URI>&refresh_token=<HUBSPOT_REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1BC0788933E26E3FEF5E4110CF09B4427E4AE598B7B54B58186DC9D803
    body:
      encoding: UTF-8
      string: '{"status":"BAD_CLIENT_ID","message":"missing or unknown client id","correlationId":"a9058138-545d-4985-81fd-9d6766d1a9eb","requestId":"d96efe502cfea2d7e3222934f0dd1858"}'
  recorded_at: Thu, 27 Jul 2017 20:00:38 GMT
recorded_with: VCR 3.0.3
