---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/oauth/v1/token?client_id=<HUBSPOT_CLIENT_ID>&client_secret=c<HUBSPOT_CLIENT_ID>dc36f8-d2f3-473a-9214-4cbaffa87654&grant_type=refresh_token&redirect_uri=<HUBSPOT_REDIRECT_URI>&refresh_token=c7235b1d-9aea-45e1-833<HUBSPOT_CLIENT_ID>-688f13362ad3
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1B86AAFE5C43EA7BBF6E3586<HUBSPOT_CLIENT_ID>85821A6D23CB52EE1<HUBSPOT_CLIENT_ID>F<HUBSPOT_CLIENT_ID>B<HUBSPOT_CLIENT_ID>7E76926147C
    body:
      encoding: UTF-8
      string: '{"status":"BAD_CLIENT_ID","message":"missing or unknown client id","correlationId":"12a96915-14ba-46c3-a7f6-76c1d6952f76","requestId":"ee1852e1e534e6779327915f<HUBSPOT_CLIENT_ID>eada<HUBSPOT_CLIENT_ID>16"}'
  recorded_at: Thu, 27 Jul 2017 19:48:33 GMT
recorded_with: VCR 3.0.3
