---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/oauth/v1/token?client_id=<HUBSPOT_CLIENT_ID>&client_secret=<HUBSPOT_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=<HUBSPOT_REDIRECT_URI>&refresh_token=<HUBSPOT_REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1BC2AF5906C146399C3278E0EB6D4281558902A03C27400206A8304323
    body:
      encoding: UTF-8
      string: '{"refresh_token":"<HUBSPOT_REFRESH_TOKEN>","access_token":"CIevsrfYKxICAwEYrYobIJKJLijE0AEyGQBC-5ITO4OGVxCGrst-LVRUS9Jow_xYCFc","expires_in":21600}'
  recorded_at: Thu, 27 Jul 2017 20:00:38 GMT
recorded_with: VCR 3.0.3
