---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/oauth/v1/token?client_id=<HUBSPOT_CLIENT_ID>&client_secret=<HUBSPOT_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=<HUBSPOT_REDIRECT_URI>&refresh_token=<HUBSPOT_REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1B49EC59F3DB731D377C6CC61BD3986EC9B4942C5121B5D5EBEF0C4158
    body:
      encoding: UTF-8
      string: '{"refresh_token":"<HUBSPOT_REFRESH_TOKEN>","access_token":"COaFtKHYKxICAwEYrYobIJKJLijE0AEyGQBC-5ITcLIEHBdAUz0DFVE4lRHdst18KZM","expires_in":21600}'
  recorded_at: Thu, 27 Jul 2017 07:12:08 GMT
recorded_with: VCR 3.0.3
