---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/oauth/v1/token?client_id=<HUBSPOT_CLIENT_ID>&client_secret=<HUBSPOT_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=<HUBSPOT_REDIRECT_URI>&refresh_token=<HUBSPOT_REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1BC98682C5FF713426A0F4C9244351EB1FB056FE20579916C831B4BD26
    body:
      encoding: UTF-8
      string: '{"refresh_token":"<HUBSPOT_REFRESH_TOKEN>","access_token":"CKX3o8fYKxICAwEYrYobIJKJLijE0AEyGQBC-5ITjrsEt85ZleTZ7pa9uYWicMZyLSk","expires_in":21600}'
  recorded_at: Fri, 28 Jul 2017 05:15:56 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/djr@DanielRabinowitz.com
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"djr@DanielRabinowitz.com"},{"property":"firstname","value":"Dan"}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
      Authorization:
      - Bearer CKX3o8fYKxICAwEYrYobIJKJLijE0AEyGQBC-5ITjrsEt85ZleTZ7pa9uYWicMZyLSk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":6911092,"isNew":false}'
  recorded_at: Fri, 28 Jul 2017 05:15:56 GMT
recorded_with: VCR 3.0.3
