---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/oauth/v1/token?client_id=<HUBSPOT_CLIENT_ID>&client_secret=<HUBSPOT_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=<HUBSPOT_REDIRECT_URI>&refresh_token=<HUBSPOT_REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1BB5B76784FB9DF28B3EB54A5F543C69A8D938557282344C8816677AC2
    body:
      encoding: UTF-8
      string: '{"refresh_token":"<HUBSPOT_REFRESH_TOKEN>","access_token":"CJHV8uLYKxICAwEYrYobIJKJLijE0AEyGQBC-5ITd05j2swIX7Pp5HGTSuwZ5DhuvpA","expires_in":21600}'
  recorded_at: Fri, 28 Jul 2017 21:21:09 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/foo3@bar.com
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"foo3@bar.com"},{"property":"firstname","value":"Foo"},{"property":"lastname","value":"Bar"},{"property":"address","value":"123
        Main St"},{"property":"address2","value":""},{"property":"city","value":"Anytown"},{"property":"state","value":"CA"},{"property":"zip","value":"12345-6789"},{"property":"country","value":"United
        States"},{"property":"phone","value":"5554445555"}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
      Authorization:
      - Bearer CJHV8uLYKxICAwEYrYobIJKJLijE0AEyGQBC-5ITd05j2swIX7Pp5HGTSuwZ5DhuvpA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":8696630,"isNew":true}'
  recorded_at: Fri, 28 Jul 2017 21:21:10 GMT
recorded_with: VCR 3.0.3
